@using uNeed.Models.Entity
@using uNeed.ViewModels
@model ProductViewModel
@{
    var p = @Model.pros;
    var c = Model.cats;
}


<link href="~/wwwroot/css/bootstrap.min.css" rel="stylesheet">
<link href="~/wwwroot/css/font-awesome.min.css" rel="stylesheet">
<link href="~/wwwroot/css/prettyPhoto.css" rel="stylesheet">
<link href="~/wwwroot/css/price-range.css" rel="stylesheet">
<link href="~/wwwroot/css/animate.css" rel="stylesheet">
<link href="~/wwwroot/css/main.css" rel="stylesheet">
<link href="~/wwwroot/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/wwwroot/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/wwwroot/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/wwwroot/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="~/wwwroot/images/ico/apple-touch-icon-57-precomposed.png">
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->

                        @Html.Partial("_categories", c)

                    </div><!--/category-products-->



                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->


                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">PRODUCTS</h2>
                    @if (p.Count == 0)
                    {
                        <div class="alert alert-warning" role="alert">
                            There is no product in this category.

                        </div>
                    }
                    @foreach (var item in p)
                    {

                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <div style=" height:300px">
                                            <img src="~/wwwroot/images/home/@item.Picture" alt="" style="width:100%" />
                                        </div>
                                        <h2>@item.Price €</h2>
                                        <p>@item.ProductName</p>
                                        <a href="/product/addToCart/@item.ProductID" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>@item.Price €</h2>
                                            <p>@item.ProductName</p>
                                            <a href="/product/addToCart/@item.ProductID" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            <a href="/product/details/@item.ProductID" class="btn btn-default add-to-cart"><i class="fas fa-info-circle"></i>Details</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div><!--features_items-->



            </div>
        </div>
    </div>
</section>
<script src="~/wwwroot/js/jquery.js"></script>
<script src="~/wwwroot/js/bootstrap.min.js"></script>
<script src="~/wwwroot/js/jquery.scrollUp.min.js"></script>
<script src="~/wwwroot/js/price-range.js"></script>
<script src="~/wwwroot/js/jquery.prettyPhoto.js"></script>
<script src="~/wwwroot/js/main.js"></script>